<div class="row">
    <div class='col-6'>
        <mat-card
            class="trinta-card all-courses-card mb-25 bg-white border-none d-block"
        >
            <mat-card-content>
               <app-to-do-appointment /> 
            </mat-card-content>
        </mat-card>
    </div>
        <div class='col-6'>
            <mat-card
                class="trinta-card all-courses-card mb-25 bg-white border-none d-block"
            >
                <mat-card-content>
                   <app-work-hours-chart/>
                </mat-card-content>
            </mat-card>
         </div>
</div>
<div class="row">
<div class='col-12'>
    <mat-card
        class="trinta-card all-courses-card mb-25 bg-white border-none d-block"
    >
        <mat-card-content>
           <app-appointment-bar-chart />
        </mat-card-content>
    </mat-card>
    </div>
</div>
<div class="row">
    <div class='col-6'>
        <mat-card
            class="trinta-card all-courses-card mb-25 bg-white border-none d-block"
        >
            <mat-card-content>
    <app-top-patients />
</mat-card-content>
</mat-card>
</div>
<div class='col-6'>
    <mat-card
        class="trinta-card all-courses-card mb-25 bg-white border-none d-block"
    >
        <mat-card-content>
<app-recent-notifications />
</mat-card-content>
</mat-card>
</div>
</div>