<mat-card
    class="trinta-card website-overview-card mb-25 bg-transparent border-none d-block position-relative z-1"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0 text-white">
                Today Appointment
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <span class="trending d-block text-white position-relative">
                <i class="material-symbols-outlined">warning</i> Don't waste your appointment , please try to be on time.
            </span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-sm-12 col-lg-12 ">

                <!-- Today's Order -->
                <app-appointment-card />

            </div>
        </div>
    </mat-card-content>
</mat-card>