<!-- Display if there are upcoming appointments -->
<div *ngIf="upcomingAppointments && upcomingAppointments.length > 0; else noAppointment" 
  [ngClass]="{'appointment-container-single': upcomingAppointments.length === 1, 'appointment-container-multiple': upcomingAppointments.length > 1}">

<div *ngFor="let appointment of upcomingAppointments" 
    [ngClass]="{'col-12': upcomingAppointments.length === 1, 'col-5': upcomingAppointments.length > 1}" 
    class="appointment-card bg-white position-relative">

 <img src="assets/card-img-3.png" alt="Top Corner Image" class="corner-image top-corner">
 <img src="assets/card-img-4.png" alt="Bottom Corner Image" class="corner-image bottom-corner">

 <h5 class="fw-medium">Your appointment is today!</h5>

 <div class="appointment-info">
   <p class="doctor-name"><i class="ri-nurse-line"></i>Dr. {{ appointment.doctor.firstname }} {{ appointment.doctor.lastname }}</p>
   <p class="appointment-time">  <i class="ri-time-fill"></i> Time: {{ formatLocalTime(appointment.dateAppointment) }}</p>
   <p class="appointment-mode">
    <i [ngClass]="{
      'ri-video-on-fill': appointment.type === 'ONLINE',
      'ri-building-4-fill': appointment.type === 'IN_PERSON'
    }"></i>
    Mode: {{ appointment.type === 'ONLINE' ? 'Online' : 'In-Person' }}
  </p>
 </div>

 <div class="button-container">
   <p *ngIf="appointment.type=='ONLINE'" class="time-remaining">
    <i class="ri-hourglass-fill"></i> Meeting starts in: {{ timeRemainingMap[appointment._id] }}
   </p>
   <button class="btn join-button" (click)="goToSharedRoom(appointment._id)" 
   [disabled]="!buttonEnabledMap[appointment._id]" *ngIf="appointment.type === 'ONLINE'">
   <i class="ri-logout-box-r-line"></i> Join
</button>
   <button class="btn reschedule-button" 
           (click)="openAppointmentDialog(appointment, appointment.doctor._id)"><i class="ri-calendar-schedule-fill"></i> Reschedule</button>
 </div>
</div>

</div>

<!-- Template for no appointment -->
<ng-template #noAppointment>
<div class="no-appointment-message bg-white col-12 position-relative">
 <h5 class="fw-medium">
  <i class="ri-calendar-close-line"></i>   You have no upcoming appointments.
 </h5>
 <p>Please check back later or schedule a new appointment.</p>
</div>
</ng-template>
