<mat-card class="trinta-card change-password-card mb-25 bg-white border-none d-block">
    <mat-card-header>
      <mat-card-title>
        <h5 class="mt-0 mb-0">Change Password</h5>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #changePasswordForm="ngForm" (ngSubmit)="onSubmit(changePasswordForm)">
        <div class="row">
          <div class="col-lg-6">
            <label class="label d-block fw-medium mb-10">Old Password</label>
            <mat-form-field>
              <i-feather name="lock"></i-feather>
              <mat-label>Enter old password</mat-label>
              <input matInput name="oldPassword" [(ngModel)]="oldPassword" [type]="hideOldPassword ? 'password' : 'text'" required>
              <button mat-icon-button matSuffix (click)="toggleHideOldPassword()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOldPassword">
                <span class="material-symbols-outlined">
                  {{hideOldPassword ? 'visibility_off' : 'visibility'}}
                </span>
              </button>
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <label class="label d-block fw-medium mb-10">New Password</label>
            <mat-form-field>
              <i-feather name="lock"></i-feather>
              <mat-label>Enter new password</mat-label>
              <input matInput name="newPassword" [(ngModel)]="newPassword" [type]="hideNewPassword ? 'password' : 'text'" required>
              <button mat-icon-button matSuffix (click)="toggleHideNewPassword()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
                <span class="material-symbols-outlined">
                  {{hideNewPassword ? 'visibility_off' : 'visibility'}}
                </span>
              </button>
            </mat-form-field>
          </div>
          <div class="col-lg-12">
            <label class="label d-block fw-medium mb-10">Confirm Password</label>
            <mat-form-field>
              <i-feather name="lock"></i-feather>
              <mat-label>Enter confirm password</mat-label>
              <input matInput name="confirmPassword" [(ngModel)]="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'" required>
              <button mat-icon-button matSuffix (click)="toggleHideConfirmPassword()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                <span class="material-symbols-outlined">
                  {{hideConfirmPassword ? 'visibility_off' : 'visibility'}}
                </span>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="save-password-btn">
          <button mat-button type="submit" [disabled]="!changePasswordForm.form.valid">Change Password</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  