/* calendar.component.scss */
:host ::ng-deep .fc-daygrid-day-top {
    position: relative;
  }
  
  :host ::ng-deep .fc-daygrid-day-events {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  :host ::ng-deep .fc-event {
    border-radius: 6px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 2px;
  }
  
  :host ::ng-deep .fc-daygrid-day {
    background-color: #f8f9fa; /* Couleur de fond des jours */
  }
  
  :host ::ng-deep .fc-daygrid-day-number {
    color: #000; /* Couleur du texte des jours */
  }
  
/*********************************/

  ::ng-deep {
    .trinta-card {
        &.all-courses-card {
            .mat-mdc-card-content {
                .mat-mdc-tab-group {
                    display: block;
    
                    .mat-mdc-tab-header {
                        display: block;

                        .mat-mdc-tab-label-container {
                            display: block;
                            border: 0;

                            .mat-mdc-tab-labels {
                                background-color: #f7faff;
                            }
                            .mat-mdc-tab {
                                flex-grow: 1;
                                min-width: auto;
                                color: var(--blackColor);
                                transition: var(--transition);
                                padding: {
                                    left: 15px;
                                    top: 15.5px;
                                    right: 15px;
                                    bottom: 15.5px;
                                };
                                .mdc-tab__text-label {
                                    color: var(--blackColor);
                                    transition: var(--transition);
                                    font: {
                                        weight: 500;
                                        size: var(--fontSize);
                                    };
                                }
                                &.mdc-tab--active {
                                    background-color: var(--primaryColor);

                                    .mdc-tab__text-label {
                                        color: var(--whiteColor);
                                    }
                                }
                                .mdc-tab-indicator {
                                    display: none;
                                }
                                &:not(.mdc-tab--stacked) {
                                    height: auto;
                                }
                            }
                        }
                        .mat-mdc-tab-header-pagination {
                            display: none;
                        }
                    }
                    .mat-mdc-tab-body-wrapper {
                        display: block;
                        margin-top: 25px;

                        .mat-mdc-tab-body {
                            overflow: hidden;

                            .mat-mdc-tab-body-content {
                                height: auto;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    ::ng-deep {
        .trinta-card {
            &.all-courses-card {
                .mat-mdc-card-content {
                    .mat-mdc-tab-group {
                        .mat-mdc-tab-header {
                            .mat-mdc-tab-label-container {
                                .mat-mdc-tab-labels {
                                    display: block;
                                }
                                .mat-mdc-tab {
                                    padding: {
                                        top: 15px;
                                        bottom: 15px;
                                    };
                                    .mdc-tab__text-label {
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                        .mat-mdc-tab-body-wrapper {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    ::ng-deep {
        .trinta-card {
            &.all-courses-card {
                .mat-mdc-card-content {
                    .mat-mdc-tab-group {
                        .mat-mdc-tab-header {
                            .mat-mdc-tab-label-container {
                                .mat-mdc-tab-labels {
                                    display: flex;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    ::ng-deep {
        .trinta-card {
            &.all-courses-card {
                .mat-mdc-card-content {
                    .mat-mdc-tab-group {
                        .mat-mdc-tab-header {
                            .mat-mdc-tab-label-container {
                                .mat-mdc-tab {
                                    padding: {
                                        top: 15px;
                                        bottom: 15px;
                                    };
                                }
                            }
                        }
                        .mat-mdc-tab-body-wrapper {
                            margin-top: 22px;
                        }
                    }
                }
            }
        }
    }

}

.non-draggable {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .palette-card {
    margin: 20px;
    padding: 15px;
  }
  
  mat-card-title {
    margin-bottom: 15px;
  }
  
  .color-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; // Espace entre les éléments
  }
  
  .color-item {
    display: flex;
    align-items: center;
    gap: 10px; // Espace entre la boîte de couleur et le label
  }
  
  .color-box {
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }
  
  .color-label {
    font-size: 14px;
    font-weight: 500;
  }
  

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}