.select-button {
    background-color: #00A2E9;
    color: #fff;
    border: none;
    margin-left: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .select-button:hover {
    background-color: #2EBEF0;
  }
  
  